.mejs__seek-time-layer {
    height: 60px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 110px;
    z-index: 2;
    background-color: white;
    font-size: 24px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
    filter: alpha(opacity=70);  /* IE 5-7 */
    -moz-opacity: 0.7;          /* Netscape */
    -khtml-opacity: 0.7;        /* Safari 1.x */
    opacity: 0.7; 
    text-align: center;
}
